@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: Inter;
}

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0, 0, 0.5);
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.modal { 
    position: absolute;
    padding: 2%;
    width: 50%;
    height: 60%;
    z-index: 15;
    top: 35%;
    left: 35%;
    margin: -100px 0 0 -150px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    overflow-x: none;
    overflow-y: scroll;
}

.modal h1{
    font-size: 2rem;
}


.modal #close{ 
    font-size: 40px;
    cursor: pointer;
}


.modal-container.show {
    opacity: 1;
    pointer-events: auto;
}


a:hover { 
    text-decoration: underline;
    color: #000;
    transition: 20ms;
    cursor: pointer;
}


.rate {
    float: left;
    height: 46px;
    padding: 3px 10px;
}
.rate:not(:checked) > input {
    display: none;
    
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}



.modal input{
    border: none;
    height: 40px;
    width: 400px;
    border-radius: 10px;
    background-color: whitesmoke;
    color: rgb(50, 50, 50);
    margin: auto;
    text-align: center;
    font-family: Inter;
    font-weight: 600;
    margin-left: 15px;
    margin-top: 5px;
}

.modal textarea{
    border: none;
    border-radius: 10px;
    background-color: whitesmoke;
    color: rgb(50, 50, 50);
    margin: auto;
    text-align: center;
    font-family: Inter;
    font-weight: 600;
    padding: 8px;
    margin-left: 15px;
    margin-top: 5px;
}

.table-center {
    margin: 0 auto;
}

input[type="submit" i]{
    background-color: white;
    border: 2px solid black;
    color: black;
      height: 40px;
      width:  400px;
      border-radius: 70px;
      font-weight: 800;
      margin-top: 30px;
      font-family: "Inter", sans-serif;
  }

  input:invalid:not(:focus):not(:placeholder-shown) {
    border: 2px rgb(205, 0, 0) solid;
    background-color: pink;
  }
  input[type="submit" i]:hover{
    background-color: #000;
    height: 40px;
    width: 400px;
    border-radius: 70px;
    color: white;
    font-weight: 800;
    align-content: center;
    margin-top: 30px;
    transition: 550ms smooth ease-in-out;
    font-family: "Inter", sans-serif;
}

