*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    color: white;
}

h1 {
    font-family: 'Playfair Display SC', serif;
    font-size: 40px;
    margin-bottom: 40px;
}

nav{
    width: 100%;
    top: 0;
    position: sticky;
    z-index: 3;
    
  }
  
  nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: rgb(21, 21, 21);
  }
  
    .dining,.facilities,.events,.gallery,.rooms,.contact{
    float: right;
    font-family: "Inter", sans-serif; 
    font-size: 14px;
    padding-top: 25px;
    padding-left: 20px; 
    }
  
    li a {
      color: white;
      text-align: center;
      padding: 18px;
      text-decoration: none;
    }
  
  
  
  li .home {
      float: left;
      font-size: 30px;
      font-family: 'Playfair Display SC', serif;
  }
  
  .underline-hover-effect {
    display: inline-block;
    position: relative;
    padding-bottom: 0.25rem;
  }
  
  .underline-hover-effect::before {
    content: "";
    position:absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #FFE600;
    transition: width 0.37s ease-out;
    background-image: linear-gradient(to right, #c18c00, #ffcb00, #fdea1d, #f0ffae, #fdea1d, #ffcb00, #c18c00);
  }
  
  .underline-hover-effect:hover::before {
    width: 100%;
    left: 0;
    right: 0;
  }
  
  .gradient-text {
    background-image: linear-gradient(to left, #c18c00, #ffcb00, #fdea1d, #fdea1d, #ffcb00, #c18c00);
    background-clip: text;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
  }
  
  
  /*removing the scroll bar*/
  ::-webkit-scrollbar{
    display:none;
  }

  .form_page{
      padding-top: 40px;
      overflow: hidden;
  }
  table{
    margin: 0 auto;
    margin-bottom: 10%;
  }

  input{
      border: none;
      height: 18px;
      border-radius: 10px;
      height: 30px;
      width: 229.5px;
      background-color: #454545;
      color: white;
      margin: auto;
      text-align: center;
  }

  select:first-child{
      height: 30px;
      border-radius: 10px 0px 0px 10px;
      color: rgb(255, 255, 255);
      background-color:#454545;
      border: none;
      position: relative;
      top: 0.6px;
  }

  select:last-child{
    border-radius: 10px;
    width: 229.5px;
    background-color:#454545;
    border: none;
    color: rgb(255, 255, 255);
    text-align: center;
  }
  input[type="tel" i]{
    border-radius: 0px 10px 10px 0px;
    width: 159px;
  }

  input[type="date" i]{
    color-scheme: dark;
    filter: invert(0);
  }
  input[type="time" i]{
    color-scheme: dark;
    filter: invert(0);
  }

  select:required:invalid{
    color: rgb(137, 137, 137);
  }


  ::-webkit-input-placeholder{
      text-align: center;
  }

  label{
    float: left;
    margin-right: 40px;
  }

  input[type="submit" i]{
    --color: #ffff00;
    background-color: var(--color);
      height: 40px;
      width:  400px;
      border-radius: 70px;
      color: black;
      font-weight: 800;
      margin-top: 30px;
      font-family: "Inter", sans-serif;
  }

  input[type="submit" i]:hover{
    background: #e5ce00;
    height: 40px;
    width: 400px;
    border-radius: 70px;
    color: black;
    font-weight: 800;
    align-content: center;
    margin-top: 30px;
    transition: 550ms smooth ease-in-out;
    font-family: "Inter", sans-serif;
}

  .form_page h1 {
      font-weight: 900;
      text-align: center;
  }
  fieldset{
      border: none;
      line-height: 60px;
  }
