* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(255, 255, 255);
  font-family: "Poppins", cursive;
}


nav{
  width: 100%;
  top: 0;
  position: sticky;
  z-index: 3;
  
}

nav ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: rgb(21, 21, 21);
}

  .dining,.facilities,.events,.gallery,.rooms,.contact{
  float: right;
  font-family: "Poppins";
  font-size: 14px;
  padding-top: 25px;
  padding-left: 20px; 
  }

  li a {
    color: white;
    text-align: center;
    padding: 18px;
    text-decoration: none;
  }



li .home {
    float: left;
    font-size: 30px;
    font-family: 'Lobster', cursive;
}

.underline-hover-effect {
  display: inline-block;
  position: relative;
  padding-bottom: 0.25rem;
}

.underline-hover-effect::before {
  content: "";
  position:absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #FFE600;
  transition: width 0.37s ease-out;
  background-image: linear-gradient(to right, #c18c00, #ffcb00, #fdea1d, #f0ffae, #fdea1d, #ffcb00, #c18c00);
}

.underline-hover-effect:hover::before {
  width: 100%;
  left: 0;
  right: 0;
}

.gradient-text {
  background-image: linear-gradient(to left, #c18c00, #ffcb00, #fdea1d, #fdea1d, #ffcb00, #c18c00);
  background-clip: text;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}


/*removing the scroll bar*/
::-webkit-scrollbar{
  display:none;
}

video {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  object-fit: cover;
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text h1{
  font-family: "Poppins", sans-serif;
  font-size: 10em;
  text-align: center;
  color: #ffff;
  z-index: 2;
  padding-top: 200px;
}

.text2{
  position: relative;
  font-family:'Poppins', sans-serif;
  font-weight: 100;
  font-size: 20px;
  text-align: center;
  color: #ffff;
  z-index: 2;
  top: -90px;
}

.header-overlay {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background: black;
  opacity: 0.56;
  z-index: 1;
}


/*arrow icon*/
.down-arrow {
  position: absolute;
  top: calc(100vh - 60px);
  left: calc(50% - 14px);
  width: 0;
  height: 30px;
  border: 2px solid;
  border-radius: 2px;
  color: white;
  z-index: 2;
  opacity: 0.8;
  display: flex;
  justify-content: center;
}

.down-arrow:after {
  content: " ";
  position: absolute;
  top: 12px;
  left: -10px;
  width: 16px;
  height: 16px;
  border-bottom: 4px solid;
  border-right: 4px solid;
  border-radius: 4px;
  transform: rotateZ(45deg);
  z-index: 2;
  display: flex;
  justify-content: center;
}

/*scroll*/
.content_1 {
  position: static;
  display: flex; 
  justify-content: center;
  background-color: #837b7b;
  height: 300px;
  width: 850px;
  margin: auto;
  padding: 30px;
  margin-top: 20%;
  border-radius: 20px;
  font-family: 'Poppins', "cursive";
  font-weight: 10000;
}

.content_2   {
  position: static;
  display: flex; 
  justify-content: center;
  background-color: #837b7b;
  height: 300px;
  width: 850px;
  margin: auto;
  padding: 30px;
  margin-top: 10%;
  border-radius: 20px;
  font-family: 'Poppins', "cursive";
  font-weight: 10000;
}

.content_3  {
  position: static;
  display: flex; 
  justify-content: center;
  background-color: #837b7b;
  height: 300px;
  width: 850px;
  margin: auto;
  padding: 30px;
  margin-top: 10%;
  border-radius: 20px;
  font-family: 'Poppins', "cursive";
  font-weight: 10000;
  margin-bottom: 10%;
}


.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 30px 30px 20px 30px;
  color: #2f2f2f;
  background-color: #000000;
  border-top: 1px solid #ffe600;
}

/*selects all the child elements inside the footer*/
.footer > * {
  flex:  1 100%;
  margin: 20px;
}

.footer__addr {
  margin-right: 1.25em;
  margin-bottom: 2em;
  width: 50%;
  color:rgb(255, 255, 255)
}

.footer__logo {
  font-family: 'Lobster', cursive;
  font-size: 40px;
  color:#ffe600;
}

 a:link, a:hover, a:active, a:visited{
  text-decoration: none;
  color:#ffffff;
}
.footer__addr h2 {
  margin-top: 1.3em;
  font-size: 15px;
  font-weight: 400;
}

.nav__title {
  font-weight: 400;
  font-size: 15px;
  color: white;
}

.footer address {
  font-style: normal;
  color: #999;
}
/*FOOTER BUTTON */
.footer__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  max-width: max-content;
  background-color: #FFE600;
  border-radius: 100px;
  color: #000000;
  line-height: 0;
  margin: 0.6em 0;
  font-size: 1rem;
  padding: 0 1.3em;
  transition-duration: 0.4s;
  cursor: pointer;
}

.footer__btn:hover {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  max-width: max-content;
  background-color: #ffff00;
  border-radius: 100px;
  color:black;
  line-height: 0;
  margin: 0.6em 0;
  font-size: 1rem;
  padding: 0 1.3em;
}

.footer__btn:active {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  max-width: max-content;
  background-color: #E0CA00;
  border-radius: 100px;
  color:rgb(0, 0, 0);
  line-height: 0;
  margin: 0.6em 0;
  font-size: 1rem;
  padding: 0 1.3em;
  box-shadow: inset 0px 2px 2px 3px rgba(0, 0, 0, 0.25);
}

/*other footer components*/
.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
  justify-content: center;
}

.footer a {
  text-decoration: none;
}

.footer__nav {
  display: flex;
	flex-flow: row wrap;
}


.footer__nav > * {
  flex: 1 50%;
  margin-right: 1.25em;
}

.nav__ul a {
  color: #999;
}

.nav__ul--extra {
  column-count: 3;
  column-gap: 1.25em;
}

.legal{
  display: flex;
  flex-wrap: wrap;
  color:#999;
}

.legal a {
  display: flex;
  align-items: center;
  color: #999;
}

.heart {
  color: #999;
}


/*media queries*/
@media screen and (min-width: 24.375em) {
  .legal .legal__links {
    margin-left: auto;
  }
}

@media screen and (min-width: 40.375em) {
  .footer__nav > * {
    flex: 1;
  }

  .nav__item--extra {
    flex-grow: 2;
  }

  .footer__addr {
    flex: 1 0px;
  }

  .footer__nav {
    flex: 2 0px;
  }
}

