body {
  color: black;
  margin: 0;
  font-size: 12px;
  overscroll-behavior: none;
  font-family: "Inter", sans-serif;
}

nav {
  width: 100%;
  top: 0;
  position: sticky;
  z-index: 3;
}

nav ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: black;
}

.dining,.facilities,.events,.gallery,.rooms,.contact{
  float: right;
  font-family: "Libre Baskerville", serif;
  font-size: 14px;
  padding-top: 32px;
  padding-left: 20px;
  margin-right: 10px;
  color: white;
}

li a {
  color: white;
  text-align: center;
  padding: 18px;
  text-decoration: none;
}

li .home {
  float: left;
  font-size: 30px;
  font-family: "Playfair Display", cursive;
  color: white;
}

.underline-hover-effect {
  display: inline-block;
  position: relative;
  padding-bottom: 0.25rem;
}

.underline-hover-effect::before {
  content: "";
  position:absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #FFE600;
  transition: width 0.37s ease-out;
  background-image: linear-gradient(to right, #c18c00, #ffcb00, #fdea1d, #f0ffae, #fdea1d, #ffcb00, #c18c00);
}

.underline-hover-effect:hover::before {
  width: 100%;
  left: 0;
  right: 0;
}

/*removing the scroll bar*/
::-webkit-scrollbar{
  display:none;
}

.text {
  align-items: center;
  justify-content: center;
}
