body {
  color: black;
  margin: 0;
  font-size: 12px;
  background-color: white smoke;
  overscroll-behavior: none;
  font-family: "Inter", sans-serif;
}

.processing {
  text-align: center;
  margin: 5% 0% 15% 0%;
  font-family: "Playfair Display", sans-serif;
  font-size: 400%;
}
